<!-- routerlink = address of c, routerLinkActive is CSS to apply -->
<a routerLink="/list" routerLinkActive="active-route-css">Student List Component</a> &nbsp;
<a routerLink="/detail" routerLinkActive="active-route-css">Student Detail Component</a> &nbsp;

<!-- Relatice Navigation -->
<!-- not connect with list and detail (stand alone)-->
<a routerLink="/employee" routerLinkActive="active-route-css">Relative Navigation</a>

<router-outlet></router-outlet> <!--Use for routing to another component or page-->